<html ng-app="owlApp">
    <head>
        <script src="//code.angularjs.org/1.5.5/angular.min.js"></script>
        <title>OWL</title>
        <meta charset="utf-8">
        <script>
            var owlApp = angular.module('owlApp', []);
            owlApp.controller('myCtrl', function($scope,$http) {
                $scope.bookName="";
                
                //TODO get data from sql
                var booksUrl = '/books.json';
                $http.get(booksUrl).success(function(data){
                    $scope.books = data;                            
                });
                
                var _sortBy = function (field) {
                        $scope.sortField = field;
                };
                
                var _reverseOrder = function () {
                        $scope.isReversed = !$scope.isReversed;
                };
                
                $scope.sortBy = _sortBy;
                $scope.isReversed = "false";
                $scope.reverseOrder = _reverseOrder; 
                
                $scope.test="search";
        
                $scope.borrowBook = function(ID){
                    console.log(ID);
                }
                
                $scope.returnBook = function(ID){
                    console.log(ID);
                }
                
                $scope.waitBook = function(ID){
                    console.log(ID);
                }
            });

        </script>
    </head>
    <body>
        <div ng-controller="myCtrl">
        <input type="text" ng-model="searchFilter" placeholder='search'>
            <br>
            <table>
                <tr>
                    <th><a href="" ng-click="sortBy('title'); reverseOrder();">Title</a></th>
                    <th><a href="" ng-click="sortBy('title'); reverseOrder();">Genre</a></th>
                    <th><a href="" ng-click="sortBy('title'); reverseOrder();">Author</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="book in books | filter : searchFilter | orderBy: sortField : reversed=isReversed track by book.id">
                    <td>{{book.title}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.author}}</td>
                    <td><a href="" ng-click="borrowBook(book.id)">borrow</a></td>
                    <td><a href="" ng-click="returnBook(book.id)">return</a></td>
                    <td><a href="" ng-click="waitBook(book.id)">wait</a></td>
                </tr>
            </table>
        </div>
        <div ng-controller="myCtrl">
        </div>
    </body>    
</html>