body{
    background-image: url(app/static/styles/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blue_bg{
    #background-color: #B9CDE5;
}

.header_logo{
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    #background-color: #e8edff;

}

.searchBarDiv{
    color: #039;
    font-size: 18px;
    margin: auto;
    position: relative;
    left: 21%;
}

.borrowReturnWaitButtons{
    position: relative;
    left: 60.2%;
}

.textFields{    
    border: 2px solid rgb(173, 204, 204);
    height: 31px;
    width: 223px;
    box-shadow: 0 0 27px rgb(204, 204, 204) inset;
    padding: 3px 3px 3px 3px;
}

#tableStyle{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	margin-left: auto;
    margin-right: auto;
	width: 1100px;
	text-align: center;
	border-collapse: collapse;
}
#tableStyle th{
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
	background: #b9c9fe url('gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#tableStyle td{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('app/static/styles/gradback.png') repeat-x;
}
#tableStyle tbody{
	background: #d0dafd url('app/static/styles/gradhover.png') repeat-x;
    overflow-y: scroll;
	color: #339;
}

.siteButtons{
    border: 2px solid #0a3c59;
    background: #3e779d;
    padding: 6px 12px;
    width: 75px;
    border-radius: 8px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #fff;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.siteButtons:hover{
    border: 2px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    color: #fff;
}

.siteButtons:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   color: #fff;
   }

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}