body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.searchBarDiv{
    color: azure;
    font-size: 18px;
    margin: auto;
    position: relative;
    left: 26.3%;
}

.borrowReturnWaitButtons{
    position: relative;
    left: 60.2%;
}

.textFields{    
    height: 25px;
    width: 275px;
    background: #BCBCBE;
    text-shadow: 0 1px 0 #FFF;
    outline: none;
    border-radius: 3px;
    border: 1px solid #717171;
    box-shadow: 1px 1px 0 #EFEFEF;
}

#tableStyle{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	margin-left: auto;
    margin-right: auto;
	width: 900px;
	text-align: center;
	border-collapse: collapse;
}
#tableStyle th{
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
	background: #b9c9fe url('gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#tableStyle td{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('gradback.png') repeat-x;
}
#tableStyle tbody{
	background: #d0dafd url('gradhover.png') repeat-x;
    overflow: auto;
	color: #339;
}

.siteButtons{
    border: 2px solid #0a3c59;
    background: #3e779d;
    padding: 6px 12px;
    width: 75px;
    border-radius: 8px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #fff;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.siteButtons:hover{
    border: 2px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    color: #fff;
}

.siteButtons:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   color: #fff;
   }