{% extends "base.html" %}
{% block content %}
        <div ng-controller="shelfController">
            <input type="text" ng-model="searchFilter" placeholder='search'>
            <ul class=entries>
                <table>
                    <tr>
                        <th><a href="" ng-click="sortBy('title'); reverseOrder();">Title</a></th>
                        <th><a href="" ng-click="sortBy('genre'); reverseOrder();">Genre</a></th>
                        <th><a href="" ng-click="sortBy('author'); reverseOrder();">Author</a></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="book in books | filter : searchFilter | orderBy: sortField : reversed=isReversed track by book.bookId">
                        <td>{[book.title]}</td>
                        <td>{[book.genre]}</td>
                        <td>{[book.author]}</td>
                        <td><a href="" ng-click="borrowBook(book.id)">borrow</a></td>
                        <td><a href="" ng-click="returnBook(book.id)">return</a></td>
                        <td><a href="" ng-click="waitBook(book.id)">wait</a></td>
                    </tr>
                </table>
            </ul>
        </div>
{% endblock %}